######################################################################################
# Created by Giovanni Ortu (giovanni.ortu@abinsula.com) {{generatedDate}}
######################################################################################


{{=<% %>=}}

#APIs and implementations

SOURCES +=  \
<%#apiInfo.apis%>
<%#operations%> 
           $$PWD/api/<%classname%>.cpp \
<%/operations%>
<%/apiInfo.apis%>
<%#apiInfo.apis%>
<%#operations%>
           $$PWD/impl/<%classname%>Impl.cpp \
<%/operations%>
<%/apiInfo.apis%>

HEADERS += \
<%#apiInfo.apis%>
<%#operations%>
           $$PWD/api/<%classname%>.h \
<%/operations%>
<%/apiInfo.apis%>
<%#apiInfo.apis%>
<%#operations%>
           $$PWD/impl/<%classname%>Impl.h \
<%/operations%>
<%/apiInfo.apis%>

#Models

SOURCES += $$PWD/model/ModelBase.cpp \
<%#models%>
<%#model%>
           $$PWD/model/<%classname%>.cpp \
<%/model%>
<%/models%>


HEADERS += $$PWD/model/ModelBase.h \
<%#models%>
<%#model%>
           $$PWD/model/<%classname%>.h \
<%/model%>
<%/models%>


<%={{ }}=%>
