######################################################################################
# Created by Giovanni Ortu (giovanni.ortu@abinsula.com) {{generatedDate}}
######################################################################################

TARGET=RestAPI
TEMPLATE=lib
 
CONFIG+=c++11

MOC_DIR=moc
OBJECTS_DIR=obj
UI_DIR=ui

{{=<% %>=}}

include( "restAPI.pri" )

<%={{ }}=%>
 
